html{
  height: 100%;
}
body{
  
  .container-fluid{
    background-image: url("img/5257b6c12d89875.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}

@mixin fade($property){
  opacity: 0.5;
}


  .container{
   
    // .custom{
    //   width: 100%;
    //   height: auto;
    //   line-height: 0px;
    // margin-top: 0px;
    // margin-left: 0px;
    // margin-right:0px;
    // display:inline-block;
    // position:relative;

    //   a{
    //     position:absolute;
    // top: 5px;
    // left: 5px;
    //   }
    
    // }

    
    button{

     .custom{
      position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  opacity: 0.5;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
  
    }
    button:hover{
      opacity:1;
      @include fade(img);
    }
  }

  footer{
    height: 55px;

  }






